@charset "utf8";


#cornered {
       

 
    border-top: 100px solid #bbb;
    border-right: 100px solid #DCDCDC;
}
#texto {
	margin-left:10px;
	padding-top: 20px;
	left:15px;
    width: 50%;
    height: 100px;
    background-color: #bbb;
}
#titulo{
	font-size: 50px;
	text-align: center;
	position:relative;
	left:20px;
}
#titulo2{

		font-size: 30px;
		position:relative;
		top:-10px;
		left:20px;
}
#instrucao{
height: 100px;
width:707px;
background:#bbb;
padding-top:40px;
padding-left: 110px;

}

#container-opcoes{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 140px;
	margin-left: 210.7px;
    padding: 10px;
    width: 930px;
    height: 465px;
	border-radius: 40px;
	background-color: #F3EBE0;
}

/*#tela_principal {

	width: 1206px;
	height: 628px;
	background-color: #DCDCDC;
}*/
/*
#tela_principal > div > header {
	padding: 10px;
	background-color: #bbb;
	width: 200px;
	height: 50px;
	
	
}*/
#corner{
	padding: 10px;
	background-color: #DCDCDC;
	width: 50px;
	height: 50px;
	
	
	border-top: 40px solid #DCDCDC;
    border-right: 40px solid white;	
}
#cabecalhoTela {

	top: 0;
	left: 0;
	margin-left: 20px;
	padding: 10px;
	width: 631.7px;
	height: 98px;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
	background-color: #F3EBE0;
	color: #283891;
	text-align: center;
}

#cabecalhoTela > header > h1 {
	font-size: 48px;
}
/*
#fundo {
	position: absolute;
	margin-top: -688px;
	width: 1366px;
	height: 768px;
	background-color: #000;
	opacity: 0.8;
	display: none;
}

#espaco_informacoes {
	width: 1000px;
	margin: 40px auto;
	padding: 10px;
	background-color: #aaa;
}
*/	
.numEtapas{

	font-weight: bold;
	font-size: 20px;

}/*
#txt{
position:relative;
top:10px;
}
#txt2{
position:relative;
top:25px;
}*/
#etapas {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 690px;
	margin-left: 525px;
	width: 300px;
	height: 73px;
	border: 5px solid #f3efe2;
	border-bottom: 0px;
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
}

#etapa1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 33px;
	height: 33px;
    margin-left: 65px;
    margin-top: -20px;
	line-height: 33px;
	text-align: center;
	
	background-color: #994822;
	font-size: 20px;
	border-radius: 50%;
	font-family: 'Luckiest';
	text-align: center;
	color: #f3efe2;
}

#etapa2 {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 183px;
	margin-top: -20px;
	width: 33px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	background-color: #283891;
	font-size: 20px;
	border-radius: 50%;
	font-family: 'Luckiest';
	text-align: center;
	color: #f3efe2;
}

#etapa3 {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 295px;
	margin-top: -20px;
	width: 33px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	background-color: #994822;
	font-size: 20px;
	border-radius: 50%;
	font-family: 'Luckiest';
	text-align: center;
	color: #f3efe2;
}


#botaoProximo {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 715px;
	margin-left: 1181px;
	width: 165px;
	height: 53px;
	border-top-left-radius: 30px;
}

#botaoProximo > input {
	width: 100%;
	height: 100%;
	font-size: 25px;
	padding: 10px;
	border: 0;
	border-top-right-radius: 30px;
	background-color: #f3efe2;
	color: #283891;
	font-family: 'Luckiest';
	text-align: center;
}

#iconeBotaoProximo {
	position: absolute;
	top: 0;
	left: 0;
    margin-left: 1021px;
    margin-top: 678px;
	width: 180px;
	height: 90px;
	background: 0;
	border: 0;
	background-color: #f3efe2;
	border-top-right-radius: 100px;
	border-top-left-radius: 100px;
}

#botaoVoltar {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 20px;
	margin-top: 715px;
	width: 165px;
	height: 53px;
	border-top-left-radius: 30px;
}

#botaoVoltar > input {
	width: 100%;
	height: 100%;
	font-size: 25px;
	padding: 10px;
	border: 0;
	border-top-left-radius: 30px;
	background-color: #f3efe2;
	color: #283891;
	font-family: 'Luckiest';
	text-align: center;
}

#iconeBotaoVoltar {
	position: absolute;
	top: 0;
	left: 0;
    margin-left: 165px;
    margin-top: 678px;
	width: 180px;
	height: 90px;
	background: 0;
	border: 0;
	background-color: #f3efe2;
	border-top-right-radius: 100px;
	border-top-left-radius: 100px;
}
#sim {
	margin-left: 15px;
	margin-top: 0px;
	padding: 10px;
	width: 60px;
	height: 40px;
	background-color: #aaa;
	text-align: center;
}
#nao {
	position: relative;
	margin-left: 20px;
	margin-top:0px;
	padding: 10px;
	width: 60px;
	height: 40px;
	background-color: #aaa;
	text-align: center;
}
#img-primeira-equipe {position: relative;
	margin-left: 0px;
	margin-top: 0px;
	padding: 20px;
	width: 100px;
	height: 90px;
	background-color: #aaa;
	text-align: center;
}
#normal {
	position: relative;
	margin-left: 20px;
	margin-top:0px;
	padding: 10px;
	width: 60px;
	height: 40px;
	background-color: #aaa;
	text-align: center;
}#dificil {
	position: relative;
	left: 70px;
	margin-top: -30px;
	padding: 10px;
	width: 60px;
	height: 40px;
	background-color: #aaa;
	text-align: center;
}
#muitoDificil {
	position: relative;
	margin-left: 150px;
	margin-top:-40px;
	
	width: 60px;
	height: 40px;
	background-color: #aaa;
	text-align: center;
}
.opcaoPrincipal{
	font-size: 30px;
}
.instrucaoOpcao{
	font-size: 15px;
}
#opcao1{
	border:1px solid black;
	margin-top:10px;
	padding: 10px;
}
.numEquipes{
	margin-top:-20px;
	margin-left: -10px;
	font-size: 60px;
}
.nomeEquipe{
	position: absolute;
	top:70px;
}
#texto_geral{
	position:relative;
	
	font-size: 30px;

}
#linha{
width: 71.4%;
left:15%;
height: 5px;
border:none;
color:#DCDCDC;;
background-color: #aaa;
margin-top: 0px;
margin-bottom: 10px;
position:absolute;

}

#container-explicacao-regras{
	top:20px;
	position: relative;
	height:320px;
	width:70%;
	background-color: grey;


}
.botoes-regras{
	height:50px;
	width:50px;
	background-color: grey;
	position: absolute;


}
#botao-regras1{
	left:750px;
	top:70px;
	
}
#botao-regras2{
	left:842px;
	top:70px;
	
}
#botao-regras3{

	left:750px;
	top:170px;
	
}
#botao-regras4{
left:842px;
	top:170px;
}
#botao-regras5{
	left:750px;
	top:270px;
	
}
#botao-regras6{
left:842px;
	top:270px;
	
}
.texto-botao{
	
	position: absolute;
	top:37%;
	left:75%;

}
#texto-botao2{
	position: absolute;
	top:360px;
	
}