@charset "utf8";


#cornered {
       

 
    border-top: 100px solid #bbb;
    border-right: 100px solid #DCDCDC;
}
#texto {
	margin-left:10px;
	padding-top: 20px;
	left:15px;
    width: 50%;
    height: 100px;
    background-color: #bbb;
}
#titulo{
	font-size: 50px;
	text-align: center;
	position:relative;
	left:20px;
}
#titulo2{

		font-size: 30px;
		position:relative;
		top:-10px;
		left:20px;
}
#instrucao{
height: 100px;
width:707px;
background:#bbb;
padding-top:40px;
padding-left: 110px;

}

#container-opcoes{
	position: absolute;
	margin-top: 70px;
	background:#bbb;
	margin-left: 15%;
	margin-right: 15%;
	width:70%;
	height: 52.5%;
	padding-top: 20px;
	padding-left: 20px;
	
}

/*#tela_principal {

	width: 1206px;
	height: 628px;
	background-color: #DCDCDC;
}*/
/*
#tela_principal > div > header {
	padding: 10px;
	background-color: #bbb;
	width: 200px;
	height: 50px;
	
	
}*/
#corner{
	padding: 10px;
	background-color: #DCDCDC;
	width: 50px;
	height: 50px;
	
	
	border-top: 40px solid #DCDCDC;
    border-right: 40px solid white;	
}
#tela_principal > header > h1 {
	margin-top: 5px;
}
/*
#fundo {
	position: absolute;
	margin-top: -688px;
	width: 1366px;
	height: 768px;
	background-color: #000;
	opacity: 0.8;
	display: none;
}

#espaco_informacoes {
	width: 1000px;
	margin: 40px auto;
	padding: 10px;
	background-color: #aaa;
}
*/	
.numEtapas{

	font-weight: bold;
	font-size: 20px;

}/*
#txt{
position:relative;
top:10px;
}
#txt2{
position:relative;
top:25px;
}*/
.etapas{
	position:absolute;
	left:33%;
	text-align: center;
}

#Etapa1{
	width:50px;
	left: 100px;
	height: 40px;
	
	top: 520px;
	position:relative;
		background-color: #aaa;

	padding-top:10px;
}
#Etapa2{
	width:50px;
	
		background-color: #bbb;
	height: 40px;
	left: 200px;
	
padding-top:10px;
  position:absolute;
  top: 520px;
}

#Etapa3{
	width:50px;
	
	height: 40px;

	background-color: #696969;
	padding-top:10px;
	
  position:absolute;
  top: 520px;
  left:300px;
}


#btnProximo{
	position:absolute;
	bottom:0px;
	right: 20px;
	height: 40px;
	width:25%/*	background-image:url("caminho-da-imagem");*/

}
#btnVoltar{
	position:absolute;
	left: 20px;
	bottom: 0px;
	height: 40px;
	width: 25%;
	/*	background-image:url("caminho-da-imagem");*/
}
.numEquipes{
	margin-top:-20px;
	margin-left: -10px;
	font-size: 60px;
}
.nomeEquipe{
	position: absolute;
	top:70px;
}
#texto_geral{
	position:relative;
	
	font-size: 30px;

}
#texto_geral2{
	position:absolute;
	top:20px;
	left:50%;
	font-size: 30px;

}
#linha{
width: 71.4%;
left:15%;
height: 5px;
border:none;
color:#DCDCDC;;
background-color: #aaa;
margin-top: 0px;
margin-bottom: 10px;
position:absolute;

}

#container-explicacao-regras{
	top:20px;
	position: relative;
	height:320px;
	width:70%;
	background-color: grey;


}
.botoes-regras{
	height:50px;
	width:50px;
	background-color: grey;
	position: absolute;
	top:35%;
	left:80%;

}
#botao-regras2{
	position: absolute;
	top:350px;
	
}

.texto-botao{
	
	position: absolute;
	top:37%;
	left:75%;

}
#texto-botao2{
	position: absolute;
	top:360px;
	
}

.img-integrantes {
	position: absolute;
	
	
	height: 300px;
	width:380px;
	background-color: #888;

}
#img1{
	position: relative;
	top:30px;
	left: 0%;
}

#img2{

	position: relative;
		top: -270px;

	left: 470px;}

